<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />


</head>
<body>

    <h1>用户信息界面</h1>

<table width="900" border="1" cellspacing="0" cellpadding="2">


    <th>用户名</th>
    <th>登录密码</th>
    <th>年龄</th>
    <th>操作</th>

    <%for( var i = 0; i < queryRlt.length; i++ ){%>

    <tr>
        <td> <%=queryRlt[i]['loginname']%> </td>
        <td> <%=queryRlt[i]['passwd']%> </td>
        <td> <%=queryRlt[i]['age']%> </td>
        <td><a href="/deleteUser?userid=<%=queryRlt[i]['id']%>">删除</a></td>

    </tr>

    <%}%>

</table>

</body>

</html>
